@import "../../../styles/constants.scss";

.dtx__side-navigation__skeleton-loader {
  .MuiSkeleton-rectangular {
    margin: $padding-S;
  }

  list-style: none;
  padding: 0;

  > li {
    margin-bottom: $padding-XL;
  }
}
