@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.dtx__navigation {
  width: 100%;
  height: 100%;
  @include flex(row, space-between, center);

  > nav {
    width: 300px;
    padding: $padding-XL;
    background-color: $dutch-white;
  }

  > aside {
    @include flex(column, space-between, stretch);
    flex: 1;
    background-color: $pale-spring-bud;
    padding: $padding-M;
  }

  > nav,
  aside {
    background-color: $dutch-white;
    height: 100%;
  }
}
