@import "../../../styles/mixins.scss";
@import "../../../styles/constants.scss";
@import "../../../styles/colors.scss";

$bg-color-transition: background-color 0.05s linear;

.container {
  @include flex(row, space-between, center);
  width: 100%;
  font-size: 12px;
  cursor: pointer;
  padding: $padding-M;
  color: $grey1;
  user-select: none;
  background-color: $dutch-white;
  transition: $bg-color-transition;
  position: relative;

  &:hover {
    background-color: darken($dutch-white, 10%);

    .contextMenuIcon {
      // See why "&__context-menu-icon" doesn't work inside pseudoselector block
      opacity: 1;

      &:hover {
        background-color: darken($dutch-white, 5%);
      }
    }
  }
}

.highlighted {
  background-color: darken($dutch-white, 5%);
}

.left {
  @include flex(row, flex-start, center);

  h3 {
    margin: 0;
  }
}

.icon {
  font-size: 15px;
  margin-right: $padding-S;
}

.contextMenuIcon {
  opacity: 0;
  font-size: 30px;
  padding: 0 5px;
  background-color: transparent;
  transition: $bg-color-transition;
}

// .dtx__navigation-item {
// $bg-color-transition: background-color 0.05s linear;

// @include flex(row, space-between, center);
// width: 100%;
// font-size: 12px;
// cursor: pointer;
// padding: $padding-M;
// color: $grey1;
// user-select: none;
// background-color: $dutch-white;
// transition: $bg-color-transition;
// position: relative;

// &.highlighted {
//   background-color: darken($dutch-white, 5%);
// }

// &:hover {
//   background-color: darken($dutch-white, 10%);

//   .dtx__navigation-item__context-menu-icon {
//     // See why "&__context-menu-icon" doesn't work inside pseudoselector block
//     opacity: 1;

//     &:hover {
//       background-color: darken($dutch-white, 5%);
//     }
//   }
// }

// &__left {
//   @include flex(row, flex-start, center);

//   h3 {
//     margin: 0;
//   }
// }

// &__icon {
//   font-size: 15px;
//   margin-right: $padding-S;
// }

// &__context-menu-icon {
//   opacity: 0;
//   font-size: 30px;
//   padding: 0 5px;
//   background-color: transparent;
//   transition: $bg-color-transition;
// }
// }
