$dutch-white: #e2dbbe;
$pale-spring-bud: #d5d6aa;
$cambridge-blue: #9dbbae;
$air-blue: #769fb6;
$blue-munsell: #188fa7;

$grey-base: #4f4e4d;
$grey-light10: lighten($grey-base, 10%);
$grey-light55: lighten($grey-base, 55%);

$dutch-white-light5: lighten($dutch-white, 5%);
$dutch-white-light10: lighten($dutch-white, 10%);
$dutch-white-dark5: darken($dutch-white, 5%);
$dutch-white-dark10: darken($dutch-white, 10%);
