@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";
@import "../../styles/colors.scss";

.dtx__app-container {
  @include flex(column, space-between, stretch);
  width: 100%;
  height: 100%;
  font-weight: bold;

  > header {
    padding: $padding-XL;
    background-color: $blue-munsell;
    color: white;
  }

  &__body {
    @include flex(row, space-between, stretch);
    width: 100%;
    flex: 1;
  }
}
