@import "../../../styles/constants.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

.container {
  @include flex(row, space-between, center);
  list-style: none;
  background-color: $dutch-white-light5;
  padding: $padding-S $padding-M;
  margin-right: $padding-S;
}

.active {
  background-color: $dutch-white-light10;
}

.anchor {
  @include ellipsis(100px);
  color: $grey-base;
  text-decoration: none;
  font-size: 14px;
}

.closeButton {
  @include backgroundColorTransition;
  cursor: pointer;
  margin-left: $padding-S;
  color: $grey-base;
  background-color: transparent;
  padding: $padding-XS;

  &:hover {
    background-color: $grey-light55;
  }
}
