@import "../../../styles/constants.scss";
@import "../../../styles/colors.scss";

.dtx__tab {
  list-style: none;
  background-color: white;
  padding: $padding-S $padding-M;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid black;

  &.active {
    border-bottom: 1px solid white;
  }

  a {
    color: $grey1;
    text-decoration: none;
    font-size: 14px;
  }
}
