@import "../../../styles/constants.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

.dtx__tab {
  @include flex(row, space-between, center);

  list-style: none;
  background-color: $ivory-dark;
  padding: $padding-S $padding-M;
  margin-right: $padding-S;

  &.active {
    background-color: $ivory;
  }

  a {
    @include ellipsis(100px);

    color: $grey1;
    text-decoration: none;
    font-size: 14px;
  }

  .close-button {
    cursor: pointer;
    margin-left: $padding-S;
    color: $grey1;
    background-color: transparent;
    @include backgroundColorTransition;
    padding: $padding-XS;

    &:hover {
      background-color: $grey-light;
    }
  }
}
